---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1627435960,"sunrise":1627418285,"sunset":1627468720,"temp":303.11,"feels_like":304.14,"pressure":1004,"humidity":50,"dew_point":291.56,"uvi":8.61,"clouds":0,"visibility":10000,"wind_speed":2.54,"wind_deg":109,"wind_gust":3.61,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1627435980,"precipitation":0},{"dt":1627436040,"precipitation":0},{"dt":1627436100,"precipitation":0},{"dt":1627436160,"precipitation":0},{"dt":1627436220,"precipitation":0},{"dt":1627436280,"precipitation":0},{"dt":1627436340,"precipitation":0},{"dt":1627436400,"precipitation":0},{"dt":1627436460,"precipitation":0},{"dt":1627436520,"precipitation":0},{"dt":1627436580,"precipitation":0},{"dt":1627436640,"precipitation":0},{"dt":1627436700,"precipitation":0},{"dt":1627436760,"precipitation":0},{"dt":1627436820,"precipitati[...]
