---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=minutely,hourly,alerts&lat=35&lon=127
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1627510452,"sunrise":1627504730,"sunset":1627555074,"temp":296.97,"feels_like":297.71,"pressure":1004,"humidity":88,"dew_point":294.86,"uvi":0.58,"clouds":79,"visibility":10000,"wind_speed":1.3,"wind_deg":103,"wind_gust":2.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"daily":[{"dt":1627527600,"sunrise":1627504730,"sunset":1627555074,"moonrise":1627567080,"moonset":1627522680,"moon_phase":0.67,"temp":{"day":304.98,"min":295.41,"max":305.73,"night":295.45,"eve":301.17,"morn":296.58},"feels_like":{"day":307.2,"night":296.03,"eve":303.34,"morn":297.33},"pressure":1002,"humidity":50,"dew_point":293.14,"wind_speed":4.5,"wind_deg":167,"wind_gust":4.61,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0.08,"uvi":9.97},{"dt":1627614000,"sunrise":1627591175,"sunset":1627641426,"moonrise":1627655040,"moonset":1627612620,"moon_phase":0.71,"temp":{"day":303.42,"min":293.68,"max":304.25,"night":297.01,"eve":301.22,"morn":293.74},"feels_like":{"day":305.89,"night":298.01,"eve":304.23,"morn":294.26},"pressure":1001,"humidity":57,"dew_point":293.79,"wind_speed":3.94,"wind_deg":168,"wind_gust":6.31,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,[...]
